$input-radius: 40px;

@import "fonts";
@import "~../../../semantic/dist/semantic.min.css";

body {
	font-family: "Ubuntu", sans-serif;
	user-select: none;
	margin: 10px;
}

.title {
	color: rgb(50, 50, 50);
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}

.version {
	color: rgb(150, 150, 150);
	font-size: 0.9rem;
	margin-top: 0;
	text-align: center;
	width: 100%;
}